body {
  font-family: "Plus Jakarta Sans,sans-serif " !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fa424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  margin-left: 30px;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  background-color: #ebebeb;
  display: flex;
  height: 8rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
}
/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
  box-shadow: 5px 5px 5px gray;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400;
  font-size: large !important;
}
.listing-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  background-color: white;
  opacity: 0.2;
}
/* New page */
.add-btn {
  background-color: #fa424d !important;
  border: none !important;
}
/* Edit page */
.edit-btn {
  background-color: #fa424d !important;
  border: none !important;
}
/* Show page */
.show-img {
  height: 18rem;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

.img {
  height: 250px;
  width: 250px;
}

/* map */
/* #map {
  height: 100px;
  width: 100px;
} */
